* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* --- NAV BAR --- */
nav {
  background-color: rgb(1, 98, 55);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* O conteiner principal que alinha a logo a esquerda e os links a direita */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaco entre a logo e os textos */
}

.nav-logo img {
  height: 40px; 
  width: auto;
  margin: 0
}

.nav-logo h1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* Alinha os links horizontalmente */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  padding-bottom: 4px;
}

nav a::after {
  content: '';
  position: absolute; 
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(46, 204, 113);

  transform: scaleX(0); /* comeca com largura 0 */ 
  transform-origin: bottom left; /* da esquerda pra direita */
  transition: transform 0.3s ease-out;
}

nav a:hover::after {
  transform: scaleX(1); /* A linha cresce até o tamanho original (100%) */
}